.jumbotron {
  text-align: center;
  background-image: url("http://pre06.deviantart.net/c5fc/th/pre/f/2014/053/e/2/free_space_galaxy_texture_by_lyshastra-d77gh54.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Trocchi', serif;
}
.c1 {
  border: 2px solid black;
}
.c1 h1 {
  text-align: center;
  font-family: 'Trocchi', serif;
}
.c1 ul {
  float: left;
}
