.jumbotron {
  text-align: center;
  background-color: #1ac6ff;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Titan One', cursive;
  border: 5px solid #3333ff;
}
.c1 {
  border: 5px solid #3333ff;
  background-color: #1ac6ff;
  background-size: cover;
  color: white;
  border-radius: 5px;
}
.c1 h1 {
  text-align: center;
  font-family: 'Titan One', cursive;
  font-size: 60px;
}
.c1 a {
  color: #3333ff;
  font-style: italic;
  text-decoration: underline;
}
ul h2 {
    font-family: 'Titan One', cursive;
}
.c1 ul {
  float: right;
  margin-right: 80px;
  list-style: none;
}

.col-md-4 img {
  width: 400px;
  height:300px;
  border: 5px solid #3333ff;
  border-radius: 5px;
  }
.col-md-4 p {
  font-family: 'Titan one': cursive;
}
.nav {
  margin-top: 20px;
}
